body.bump {
	& .fadein {
		opacity: 0;
		visibility: hidden;
		transition: opacity .999s ease-out, visibility .999s ease-out;
	}
}

.fadein {
	opacity: 1;
	visibility: visible;
	transition: opacity .999s ease-out, visibility .999s ease-out;
}