$white: #FFFFFF;
$black: #000000;
$yellow: #FFE2CB;
$yellowTrans: #FFE2CC;
$indent: 0;
$textXs: 1.08rem;
$textS: 1.44rem;
$textM: 2.25rem;
$textL: 4.5rem;
$textXl: 9rem;

$adminRed: #E84C59;
$adminGreen: #58985C;
$adminBlue: #60C0FD;

$metaYoutube: #E52D27;
$metaGoogle: #DC4A3D;
$metaPinterest: #CB1F26;
$metaSoundcloud: #FF7700;
$metaApple: #FF2C54;
$metaSnapchat: #FFFC00;
$metaSpotify: #1CD760;
$metaTwitter: #00ACEE;
$metaInstagram: #3F729B;
$metaGoogleplay: #A4C639;
$metaFacebook: #3B5998;
$metaGithub: #772B88;
$metaBandcamp: #619AAA;