$white: #FFFFFF;
$black: #000000;
$yellow: #FFE2CB;
$yellowTrans: #FFE2CC;
$indent: 0;
$textXs: 1.08rem;
$textS: 1.44rem;
$textM: 2.25rem;
$textL: 4.5rem;
$textXl: 9rem;

$adminRed: #E84C59;
$adminGreen: #58985C;
$adminBlue: #60C0FD;

$metaYoutube: #E52D27;