.find {
	padding-right: 0.72rem;
	font-size: $textM;
	line-height: 1.2; 
	margin-bottom: 4.5rem;
	text-indent: $indent;

	@mixin atS {
		font-size: $textL;
	}

	&.find--expanded {
		margin-right: 0;
	}
	&__name {
    	padding-left: 0.72rem;
		padding-right: 0.72rem;

		@mixin atS {
			padding-right: 0;
		}

    	&:hover {
    		cursor: alias;
    	}
	}

	&__context {
		margin-left: 0.72rem;
		display:none;
	}
	&__context-button {
		font-size: $textS;
		margin: 0.9rem 0;
    	display: block;

		@mixin atS {
    		display: inline;
    		margin: 0 0.9rem;
		}

		&:hover {
			cursor: pointer;
		}
	}
	&--expanded {
		& .find__context {
		    display: block;
    		margin-left: 0;

			@mixin atS {
	    		display: inline;
	    		margin: 0 0.9rem;
			}
		}
		& .find__context-button {
			display: none;
		}
		& .find__name {
			padding-right: 0.72rem;

			@mixin atS {
				padding-right: 0;
			}
		}
	}
}


