#postimagediv {
    min-width: 255px;
    border: none;
    box-shadow: none;
    background: #fff;
    
	& .handlediv.button-link {
		display: none;
	}
	& .hndle.ui-sortable-handle {
		display: none;
	}
	& #set-post-thumbnail-desc {
		display: none;
	}
}