#minor-publishing-actions {
	display: none;
}
.misc-pub-section.misc-pub-visibility {
	display: none;
}
#post-body .misc-pub-post-status:before {
	display: none;
}
.curtime #timestamp:before {
	display: none;
}