#category-tabs {
	display: none;
}
#category-adder {
	display: none;
}
.categorydiv div.tabs-panel, .customlinkdiv div.tabs-panel, .posttypediv div.tabs-panel, .taxonomydiv div.tabs-panel, .wp-tab-panel {
    padding: 0;
    border: none;
    background-color: $white;
}
